html {
    /*background: url(/media/login-bg.png) no-repeat center center fixed;*/
    background-color: #f7f7fb;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.login-container {
    padding-top: 100px;
    text-align: center;
    background: none !important;
}

.login-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #595d6e;
}
